body{
  margin-left: 10em;
  margin-right: 10em;
}

h1{
  text-align: center;
  background-color: gray;
}

#intro{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

#alice{
  border: medium double green;
}

#candy-link{
  margin: 1em;
  text-align: center;
}

#candy-link a{
  padding: 2px;
  text-decoration: none;
  border: 4px outset blue;
  border-radius: 20px;
  background-color: lightblue;
  color: black;
}

#candy-link a:hover{
  background-color: #F0F013;
}

#fruits-container{
  text-align: right;
  border-left: 5px solid #F01150;
  background-color: #ED87A4;
  margin-left: 5em;
  margin-right: 5em;
}

#fruit-list{
  float: left;
  text-align: left;
  padding-left: 5px;
}

#video{
  text-align: center;
}
